{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/contact.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container">
        <form action="" method="post">
            <h1>Contactez-nous</h1>

            <label for="name">Prénom :</label>
            <input type="name" placeholder="Prénom">
            <label for="surname">Nom :</label>
            <input type="surname" placeholder="Nom">
            <label for="email">Adresse email :</label>
            <input type="email" placeholder="Email">
            <label for="subject">Objet</label>
            <textarea id="subject" name="subject" placeholder="Ecrivez votre message"></textarea>

            <input type="submit" value="Envoyer">

        </form>
    </div>

{% endblock %}