{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="card w-50 mx-auto mt-5">
        <div class="card-body">
            <h5 class="card-title">Contactez-nous</h5>
            <p class="card-text">trouvhebergement@gmail.com</p>
        </div>
    </div>

{% endblock %}