@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ff0101, #d06f33);
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.profile {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
  margin-top: 15vh;
  padding: 1em;
  line-height: 1em;
}

.profile h1 {
  color: black;
  text-align: center;
  padding-top: 40px;
}

.profile-infos {
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name {
  display: flex;
  align-items: center;
  font-size: 28px;
  margin-bottom: 5px;
}

.profile button {
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: white;
  background: linear-gradient(to right, #ff0101, #d06f33);
  outline: none;
  cursor: pointer;
}

.profile button:hover {

  background: linear-gradient(to left, #ff0101, #d06f33);
}

.profile-image {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
  bottom: 60px;
}

.profile-top {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-bottom {
  margin-top: 75px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile button:hover {
  color: white;

}