<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="Info_profil.css">

  <title>Trouv'hébergement</title>
</head>

<body>
  <div class="header">
    <div class="nav-bar">
      <div class="brand">
        <a href="home.html">
          <h1>TROUV'HÉBERGEMENT</h1>
        </a>
      </div>
      <div class="nav-list">

        <a href="home.html">Accueil</a>
        <a href="availablehouses.html">Maisons disponibles</a>
        <a href="proposehosting.html">Proposer un hébergement</a>

      </div>
      <div class="menu">
        <li>Profil
          <ul>
            <li><a href="info_profil.html">Mes infos</a></li>
            <li><a href="listhouses.html">Mes Maisons</a></li>
            <li><a href="reservations.html">Mes réservations</a></li>
            <li><a href="chat.html">Messagerie</a></li>
            <li><a href="home.html">Déconnexion</a></li>
          </ul>

        </li>

      </div>
    </div>
  </div>

  <div class="profile">
    <div class="profile-top">
      <h1>Mes informations</h1>
      <div class="profile-image"></div>
    </div>
    <div class="profil-bottom">

      <div class="profile-infos">
        <h3 class="name">Pierre Da Silva</h3>
        <div class="main-infos">
          <p class="sexuality">Masculin</p>
          <p class="birth">05-11-2000</p>
        </div>
        <p class="email">pierre.dasilva97224@gmail.com</p>
        <p class="number">06688599</p>
      </div>
      <button type="submit">Modifier mon profil</button>
    </div>
  </div>
  
  <div class="footer-basic">
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
          class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
        href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="footer_content">
      <li class="home"><a href="home.html">Accueil</a></li>
      <li class="aboutus"><a href="aboutus.html">Qui sommes nous ? </a></li>
      <li class="privacypolicy"><a href="privacypolicy.html">Politique de confidentialité</a></li>
      <li class="contact"><a href="contact.html">Contactez-nous<a></li>

    </ul>
    <p class="copyright">Trouv'hébergement © 2022</p>
  </div>
</body>