<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="listhouses.css">

  <title>Liste de mes maisons</title>
</head>

<body>
    <div class="header">
        <div class="nav-bar">
          <div class="brand">
            <a href="home.html">
              <h1>TROUV'HÉBERGEMENT</h1>
            </a>
          </div>
          <div class="nav-list">
            
              <a href="home.html">Accueil</a>
              <a href="availablehouses.html">Maisons disponibles</a>
              <a href="proposehosting.html">Proposer un hébergement</a>
            
          </div>
          <div class="menu">
             <li>Profil
              <ul>
                  <li><a href="info_profil.html" >Mes infos</a></li>
                  <li><a href="listhouses.html" >Mes Maisons</a></li>
                  <li><a href="reservations.html" >Mes réservations</a></li>
                  <li><a href="chat.html" >Messagerie</a></li>
                  <li><a href="home.html" >Déconnexion</a></li>
              </ul>
  
             </li>
              
          </div>
        </div>
      </div>
  <div class="list">
    <div class="title">
        <h1>Mes maisons</h1>
    </div>
    <div class="container">
        <div class="image_house">
            <img src="image1_house.jpg">
        </div>
        <div class="info_house">
            <h2> Appartement en résidence</h2>
            <p>Logement situé au 1ère étage, dans une résidence calme</p>
            <p>03/09/2022</p>
            <p>10/09/2022</p>
            <p>1 personne</p>
            <p>Saint-Germain-les-Paroisses (01)</p>
            <div align="center"> <button type="submit">Modifier</button></div>   
        </div>
        
    </div>  
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="footer_content">
                <li class="home"><a href="home.html">Accueil</a></li>
                <li class="aboutus"><a href="aboutus.html">Qui sommes nous ? </a></li>
                <li class="privacypolicy"><a href="privacypolicy.html">Politique de confidentialité</a></li>
                <li class="contact"><a href="contact.html">Contactez-nous<a></li>
               
            </ul>
            <p class="copyright">Trouv'hébergement © 2022</p>
        </footer>
    </div>
</body>
</html>