{% extends "base.html.twig" %}

{% block body %}
    <div class="cover-container d-flex w-50 p-3 mx-auto flex-column">

        <main role="main" class="text-center bg-white p-3 mt-5" style="border-radius: 0.5rem">
            <h1 class="cover-heading">Bienvenue sur Trouv'BNB</h1>
            <p class="lead">Pour les personnes en situation précaire qui cherchent à se loger, Trouv’BNB est une application type AirBNB pour les gens en situation précaire qui au contraire de ses concurrents propose un accompagnement de A à Z.
                Notre produit est une plateforme de mise en relation d’associations qui s’occupent de réfugiés (ou autres) avec des personnes qui acceptent de prêter un logement/chambre.</p>
            <p class="lead">
                <a href="{{ path('app_house_view') }}" class="btn btn-lg btn-secondary vermeil">Voir les hébergements</a>
            </p>
        </main>

    </div>
{% endblock %}