{% extends "base.html.twig" %}

{% block body %}
    <div class="cover-container d-flex w-50 p-3 mx-auto flex-column">

        <main role="main" class="text-center bg-white p-3 mt-5" style="border-radius: 0.5rem">
            <h1 class="cover-heading">Bienvenue sur Trouv'logement</h1>
            <p class="lead">Nous allons vous mettre en relation avec des personnes prête à vous héberger temporairement.</p>
            <p class="lead">
                <a href="{{ path('app_house_view') }}" class="btn btn-lg btn-secondary vermeil">Voir les hébergements</a>
            </p>
        </main>

    </div>
{% endblock %}